@media screen and (max-width: 767px){

}

@media screen and (max-width: 980px){

}

@media screen and (max-width: 1680px){

}

/** Fil d'ariane **/

nav.arbo {
    margin-top: 8px;
}

/** Title **/

#header .logo {
    font-family: "Trebuchet MS", sans-serif;
    color: #e4c74d;
}

/** Rubrique **/

@media screen and (max-width: 1680px) {
    .sqq-rubrique .texte {
        font-size: 1.3em;
    }

    .sqq-rubrique .main h1,
    .sqq-evenement .titre,
    .sqq-article .main h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 980px){
    .sqq-rubrique .texte {
        font-size: 1.2em;
    }

    .sqq-rubrique .main h1,
    .sqq-evenement .titre,
    .sqq-article .main h1 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 736px){
    .sqq-rubrique .texte {
        font-size: 1.1em;
    }

    .sqq-rubrique .main h1,
    .sqq-evenement .titre,
    .sqq-article .main h1 {
        font-size: 1.4em;
    }
}

/** Formulaires **/

label,.label{
    margin: 0;
    font-size: 1em;
}

.saisie_input,
.saisie_email,
.saisie_selection,
.saisie_fichiers,
.saisie_textarea,
.saisie_checkbox,
.choix {
    margin-bottom: 1.2em;
}

.saisie_radio .label{
    font-weight: 600;
    color: #3d4449;
}


